*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
     font-family: sans-serif;
}

.container{

    max-width: 1200px;
    margin: 0 auto;

}

.swiper-button-prev::after {

    font-size: 20px;
}

.swiper-button-next::after{

    font-size: 20px;
}

.swiper-button-next {

    color: red;
}

.swiper-button-prev {

    color: red;
}

.swiper-pagination-bullet {

    background-color: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {

    background-color: red;
}

.menu {

    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}

.menu-1 { 

    margin-right: 100px;
}

.menu2 {

    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.logo-1 {
    width: 50;
}

.logo2 {

    width: 150px;
}

.socials {

   display: flex;
}

.social {

    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid red;
    border-radius: 50% ;
}

.social:hover {

    background-color: red;
}

.social img {

    margin: 0px 0 0 10px;
}

.menu .navbar ul li {

    position: relative;
    float: left;
}

.menu .navbar ul li a {
 
    font-size: 10px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover {

   color: red;
}

menu {

    display: none;
}

.menu-icono {

    width: 25px;
}

.menu-label {
    cursor: pointer;
    display: none;
}

.header-content {

    margin-top: 200px;
    padding-bottom: 50px;
}

.slider {

    display: flex;
    align-items: center;
}

.slider-txt {

    margin-left: 85px;
    width: 50%;
}

.slider-txt h1 {

    font-size: 70px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}


.slider-txt p {

    font-size: 18px;
    color: white;

}

.botones {

    margin-top: 50px;
}

.btn-1 {

    display: inline-block;
    padding: 15px 35px;
    border: 2px solid red;
    color: whitesmoke;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover {

    background-color: red;
}

.slider-img {

    width: 50%;
}

.slider-img img {

    margin-right: 225px;
    width: 550px;
}


.products {

    background-color: black;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label {

    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 700;
    transition: background ease 0.2;

}

.tabs .tab {

    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {

    display: none;
}

.tabs input[type="radio"] :checked .label {

    border-bottom: 2px solid red;
    color: white;
}

.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img {

    width: 50px;
    text-align: left;
}

.product-img h4 {

    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid grey;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-txt {

    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4 {

    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {

    color: white;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {

    color: white;
    font-size: 18px;
    font-weight: 800;
}

.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}

.info-img {

    width: 50%;
}

.info-img img {

    width: 500px;
    height: 250px;
}

.info-txt {

    width: 50%;
}

.info-txt h2 {

    font-size: 75px;
    color: whitesmoke;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p {

    font-size: 18px;
    color: antiquewhite;
    margin-bottom: 50px;
}

.btn-2 {

    display: inline-block;
    padding: 15px 35px;
    background-color: red;
    color: azure;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}

.btn-2:hover {

    background-color: red;
    border-color: rgb(red, green,);
    color: whitesmoke;
}


.icons {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
}


.price {

    font-size: 14px;
    color: bisque;
}

.buy {
    padding: 1px 15px 8px 15px;
    border-radius: 15px;
    background: linear-gradient(90deg,yellow,green 100%);
}

.buy img {

    width: 15px;
}

.lead-more {

    margin-top: 50px;
    display: inline-block;
    padding: 13px 15px;
    border-radius: 25px;
    border: 1px solid grey;
    color: antiquewhite;
    font-size: 16px;
    cursor: pointer;
}

.load-more:hover {

    background: linear-gradient(90deg,#e70b25 0%,#900314 100%);
    border-color: rgb(320 ,20 ,60);
    color: white;

}

.info {

    background-image: linear-gradient(rgba 0 ,0 ,0 ,0,5),url(images/slider1\ hamburguesa.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;

}

.info-content {

    display: flex;
    position: relative;
}

.info-txt {

    width: 60%;
    margin-top: 85px;
}

.info-txt h2 {

    color: beige;
    font-size: 55px;
    margin-bottom: 25px;
}

.info-txt p {

    font-size: 20px;
    color: grey;
    margin-bottom: 25px;
}

.info-sec {
    display: flex;
}

.info-1 {

    display: flex;
}

.info-1 {

    display: flex;
}

.info-1 img {

    width: 80px;
}

.info-2 {

    margin-left: 25px;
}

.info-2 h3 {

    color: blanchedalmond;
    font-size: 25px;

}

.info-2 p {

    color: azure;
    font-size: 16px;

}

.info-img {

    position: absolute;
    right: -55px;
    top: -103px;
}

.info-img img {

    width: 650px;
}

.footer {

    padding: 150px 0 150px 0;
    display: flex;
    justify-content: space-between;
}

.logo-2 {

    width: 150px;
}

.links h4 {

    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 25px;

}


.links ul li a {
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

.social {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid red;
    border-radius: 50%;
}

.social:hover {
    background-color: #900314;

}

.social img {

    margin: 8px 0 0 10px;
}

@media(max-width:991px) {

    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: red;
        display: none;
    }
    .menu .navbar ul li a:hover {
        color: grey;
    }
    #menu:checked .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 100px 30px 30px 3px;
    }

    .header-txt {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .header-txt h1 {

        flex-direction: column;
        align-items: center;
    }
    .btn-1 {
        margin: 0 0 20px 0;
    }
    .btn-2 {
        margin: 0 0 20px 0;

    }

    .header-img {

        width: 100%;
        margin-top: 45px;

    }

    .product-menu {

        padding: 30px;
    }

    .title {

        margin-bottom: 20px;
    }

    .hoja {

        display: none;
    }

    .menu-nav {

        flex-direction: column;
        align-items: center;

    }
    .tab {
        margin-bottom: 25px;
    }

    .box-container {
        grid-template-columns: 1fr;
    }

    .box-image {

        height: 200px;

    }

    .info { 
        padding: 30px;
        height: 80vh;
    }

    .info-txt h2 {

        font-size: 40px;
    }
    .info-content {

        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-txt {
        width: 100%;
        margin-top: 0px;

    }

    .info-txt p {

        margin-bottom: 5px;
    }

    .info-sec {

        flex-direction: column;
        padding: 0px 35px;

    }
    .info-1 {
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .info-2 {

        margin-top: 10px;
        margin-left: 0;
    }

    .info-img img {

        display: none;
    }

    .socials {
        justify-content: center;
    }

    .social img {

        margin: 8px 0 0 0;
    }

    .footer {
        padding:30px ;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0 10px 0;
    }
}
